body {
  background-color: skyblue;
  color: black;
}

.app {
  width: 450px;
  margin: 0 auto;
  padding-top: 50px;

  & .app-header {
    height: 250px;
    width: inherit;
    object-fit: cover;
  }
}

div.image {
  width: 400px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  background-image: url('./images/header.jpg');
  background-size: cover;
  background-repeat: no-repeat;

}
